vm/coach/docker/nodered/events.json
[
  {
    "id": "tab-coach-events",
    "type": "tab",
    "label": "Coach /events",
    "disabled": false,
    "info": ""
  },
  {
    "id": "in-events",
    "type": "http in",
    "z": "tab-coach-events",
    "name": "POST /events",
    "url": "/events",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 120,
    "wires": [["json-body"]]
  },
  {
    "id": "json-body",
    "type": "json",
    "z": "tab-coach-events",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 120,
    "wires": [["fn-build"]]
  },
  {
    "id": "fn-build",
    "type": "function",
    "z": "tab-coach-events",
    "name": "Build HA request",
    "func": "// Read env from Node-RED runtime\nconst token = env.get(\"HA_TOKEN\");\nconst svc = env.get(\"HA_NOTIFY_SERVICE\") || \"notify.mobile_app_masterblaster\";\nconst base = env.get(\"HA_BASE_URL\") || \"http://homeassistant:8123\";\n\nconst next = (msg.payload && msg.payload.next_task) || \"Next task\";\n\nmsg.headers = {\n  \"Authorization\": \"Bearer \" + token,\n  \"Content-Type\": \"application/json\"\n};\n\n// URL for HTTP Request node (we pass via msg.url)\nmsg.url = `${base}/api/services/notify/${svc}`;\n\nmsg.payload = {\n  title: \"Coach\",\n  message: `Block complete. Switch to: ${next}.`,\n  data: { tag: \"coach\", importance: \"high\" }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 120,
    "wires": [["ha-call","dbg"]]
  },
  {
    "id": "ha-call",
    "type": "http request",
    "z": "tab-coach-events",
    "name": "HA notify REST",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 740,
    "y": 120,
    "wires": [["out-200"]]
  },
  {
    "id": "out-200",
    "type": "http response",
    "z": "tab-coach-events",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 930,
    "y": 120,
    "wires": []
  },
  {
    "id": "dbg",
    "type": "debug",
    "z": "tab-coach-events",
    "name": "HA request debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 750,
    "y": 180,
    "wires": []
  },
  {
    "id": "in-ping",
    "type": "http in",
    "z": "tab-coach-events",
    "name": "GET /ping",
    "url": "/ping",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 60,
    "wires": [["pong"]]
  },
  {
    "id": "pong",
    "type": "template",
    "z": "tab-coach-events",
    "name": "pong",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "mustache",
    "template": "{\"ok\":true}",
    "output": "str",
    "x": 330,
    "y": 60,
    "wires": [["out-200-ping"]]
  },
  {
    "id": "out-200-ping",
    "type": "http response",
    "z": "tab-coach-events",
    "name": "200 OK",
    "statusCode": "",
    "headers": {},
    "x": 520,
    "y": 60,
    "wires": []
  }
]
